.Update-Info {
    margin-top: -80px;
    margin-left: 365px;
}

.dll-Info {
    margin-top: -300px;
    margin-left: 365px;
}

.virus-Info {
    margin-top: -290px;
    margin-left: 365px;
}