.header {
    margin-top: -100px;
}

.svg-dark-bg {
    fill: rgb(26, 25, 25);
}

.svg-accent {
    stroke: rgb(3, 169, 244)!important;
}

body {
    background-color: rgb(26, 25, 25);
}

.nav {
    margin-left: 10px;
}